*{
  font-family: 'Cafe24SsurroundAir';
}

.main-container{
  position: absolute;
  background: #302654;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content : center;
  overflow: hidden scroll;
}

.main-container-inner{
  max-width : 400px;
  width: 400px;
  max-height: 100%;
  background: #302654;
  padding-bottom:0px;
  padding-top: 100px;
  display: flex;
  overflow: hidden auto;
  flex-direction: column;
  justify-content : flex-start;
  align-items : center;
}

.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.content-btn{
  border-radius: 15px;
  background-color: transparent;
  width: 186px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border : solid white 2px;
}



.select-btn{
  background-color : transparent;
  color : white;
  border : solid white 2px;
  font-weight: bold;
  font-size: 15px;
  align-self: center;
  height : 100px;
  width : 300px;
  margin-bottom : 35px;
  line-height: 20px;
}

.progress-container-wrapper{
        display: flex;
        flex-direction: column;
        align-items: "center";
}

.progress-container{
  height: 15px;
  width: 300px;
  background-color: transparent;
  border : #e0e0de solid 2px;
  border-radius: 50px;
}

.select-btn:hover{
  /* border-radius: "15px"; */
  background-color: "#383838";
  /* width: "186px";
  height: "48px";
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  text-align: "center";
  margin-bottom: "8px";
  margin-left: "24px"; */
}

#next {
  text-decoration: "none";
  color: "#383838";
}

.content-btn{
  border-radius: "15px";
  background-color: "white";
  width: "186px";
  height: "48px";
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  text-align: "center";
  margin-bottom: "8px";
  margin-left: "24px";
}

#start{
  text-decoration: "none";
  color: "#383838";
}

.slide-in-appear {
  opacity: 1;
  transform: translate(0,0px);

}
.slide-in-appear-active {
  opacity: 1;
  transform: translateX(500px);

}

.slide-in-appear-done {
  transition: all 400ms ease-in;
  transform: translateX(0px);
}

.slide-in-exit {
  opacity: 1;
  transform: translateX(500px);
}

.slide-in-exit-active {
  /* opacity: 1; */
  transition: all 400ms ease-in;
  transform: translateX(500px);
}

.slide-in-exit-done {
  /* opacity: 1; */
  transition: all 400ms ease-in;
  transform: translateX(0px);
}


.slide-out-appear {
  opacity: 1;
  transform: translateX(0px);

}
.slide-out-appear-active {
  opacity: 1;
  transform: translateX(0px);

}

.slide-out-appear-done {
  transition: all 700ms ease-in;
  transform: translateX(-500px);
}

.slide-out-exit {
  opacity: 1;
  transform: translateX(0px);

}
.slide-out-exit-active {
  opacity: 1;
  transition: all 700ms ease-in;
  transform: translateX(0);
}

@keyframes example {
  from{
    transform: translate(0px, 0);
  } to{
    transform: translate(30px, 0);
  }
}

@media (min-width : 375px){
  .bg{
    width : 375px;
    height : 667px;
  }
}

@media (min-width : 1152px){
  .bg{
    width : 379px;
    height : 298px;
  }
}

@media (min-width : 1024px){
  .bg{
    width : 700px;
    height : 800px;
  }
}

