*{
  font-family: 'Cafe24SsurroundAir';
}

.main-container{
  position: absolute;
  background: #302654;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content : center;
  overflow: hidden scroll;
}

.main-container-inner{
  position: relative;
  max-width : 400px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 18px;
}

.content-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.content-btn{
  border-radius: 15px;
  background-color: transparent;
  width: 186px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border : solid white 2px;
}

.content-btn:active{
  background-color: white;
  color: #302654;
} 

.select-btn{
  background-color : transparent;
  color : white;
  border : solid white 2px;
  font-weight: bold;
  font-size: 15px;
  align-self: center;
  height : 100px;
  width : 300px;
  margin-bottom : 35px;
  line-height: 20px;
}
.select-btn:active{
  background-color: white;
}

.progress-container-wrapper{
        display: flex;
        flex-direction: column;
        align-items: "center";
}

.progress-container{
  height: 15px;
  width: 300px;
  background-color: transparent;
  border : #e0e0de solid 2px;
  border-radius: 50px;
}

.question-main-container{
  display: flex;
  flex-direction: column;
  align-items: "center";
  padding-top: 30px;
}

.result-main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.result-body-container{
  position: relative;
  margin: 0px;
  margin-top: 40px;
  margin-bottom:80px;
  padding-top: 0px;
}


.result-bottom-container{
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

.result-match-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom:70px;
}

.result-match-wrap{
  flex-direction: row;
  justify-content: center;
}

.divider{
  position: relative;
  border-left: 2px solid white;
  height: 60px;
  margin-left: -3px;
  opacity: 0.33;
  top: 0;
}

.slide-in-appear {
  opacity: 1;
  transform: translate(0%);
}
.slide-in-appear-active{
  opacity: 1;
  transform: translateX(200%);
}

.slide-in-appear-done {
  transition: all 400ms ease-in;
  transform: translateX(0%);
}

.slide-in-exit {
  opacity: 1;
  transform: translateX(0%);
}

.slide-in-exit-active {
  opacity: 1;
  transition: all 400ms ease-in;
  transform: translateX(-200%);
}


@media (min-width : 375px){
  .bg{
    width : 375px;
    height : 667px;
  }
}

@media (min-width : 1152px){
  .bg{
    width : 379px;
    height : 298px;
  }
}

@media (min-width : 1024px){
  .bg{
    width : 700px;
    height : 800px;
  }
}

